@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*seletor de tag*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3DA535;
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
}
#cabecalho{
    background-image: linear-gradient(to bottom, #8c4b99, #542B5C);
    padding: 20px;
    text-align: center;
}
.menu{
    background-color: #542B5C;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-left:  20px;

   
}
#nav{
    background-image: linear-gradient(to top, #ffffff, #542B5C);
    text-decoration: none;
    margin: 0 ;
    font-weight: bold;
    color: #fffacc;
    text-align: center;
    font-family: "Cherry Cream Soda", system-ui;
}
.a{
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    color: #3DA535;
    
}
.a:hover{
    color: #53f347;
    transition: 1s;
}
.container{
    width: 400px;
    margin: 0 auto;
    background-image: linear-gradient(to left, #a355b3, #783f83,#542B5C);
    padding: 20px;
    border-radius: 10px;
    margin-top: 150px;
    justify-content: center;
    
    height: auto;
   
}
.div{
    display: block;
    background-color: #ffffff;
    color: #3DA535;
    text-align: center;
    border-radius: 10px;
    border: 3px solid #3b2e32;
    margin-top: 20px;
}
.inp{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #3b2e32;
}
.btn{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3DA535;
    color: #fffacc;
    font-weight: bold;
    cursor: pointer;
}